.center 
{ 
    text-align: center;
}
.img
{   width: 70px;
    height: 80px; 
}
.back
{
    background-image: url('cloud.jpg');
    background-size:contain;
    width: 100%;
    height: 100%;
    background-position: center center;
}
#b1, #b2, #b3, #b4, #b5,#b6, #b7, #b8, #b9 
{
  background: transparent;
  width:80px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#img1 ,#img-2,#img-3,#img-4,#img-5
{
   width:100px;
   height: 150px;
}
.left
{
    display: flex;
    justify-content: center;
}   
    .grid
    {   
        display: grid;
        margin-top: 30px;
        grid-template-columns:33% 33% 33%;
        grid-template-rows:33% 33% 33%;
        max-width: 300px;
    }
    #winner
    {
        text-align: center;
    }
    .btn_reset
    {
        width: 80px;
        height: 40px;
    }
    .last 
    {
        text-align: center;
        margin-top: 10px;
    }
    .start-game
    {
        width: 100px;
        height: 40px;
        margin-right: 20px;   
    }